body {
  margin: auto;
  padding: 2rem 1rem;
  max-width: 768px;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

label {
  display: block;
}

.source {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.chart-pie-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart-pie {
  width: 16rem;
}
